/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/primary
 * -----------------------------------------------------------------------------
 */

%btn-primary,
.btn-primary {
  @extend %btn;
  background-color: $color-primary;
  border-radius: 0;
  border: none;
  color: $color-dark;
  @include font-size($fs-sm);
  @include font-black();
  letter-spacing: 0.06em;
  padding: 16px 24px;
  width: auto;
  text-transform: uppercase;
  transition: all .1s ease-out;

  &:hover {
    background-color: $color-white;
    color: $color-dark;
  }
}