/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/primary
 * -----------------------------------------------------------------------------
 */

%btn-primary,
.btn-primary {
  @extend %btn;
  background-color: $color-primary;
  border-radius: 0;
  border: none;
  color: $color-dark;
  display: inline-block;
  @include font-size($fs-sm);
  @include font-black();
  letter-spacing: 0.06em;
  padding: 8px;
  width: auto;
  text-transform: uppercase;
  transition: all .1s ease-out;

  @include bp-md() {
    padding: 10px;
  }

  &:hover {
    background-color: $color-white;
    color: $color-dark;
  }

  &.is-light {
    background-color: $color-primary;
    color: $color-white;

    &:hover {
      background-color: $color-dark;
    }
  }

  &.is-dark {
    background-color: $color-dark;
    color: $color-white;

    &:hover {
      background-color: $color-white;
      color: $color-dark;
    }
  }

  &.is-loading {
    animation-fill-mode: both;
    animation: load 1s infinite;
  }
}


@keyframes load {
  0% { 
    background-color: $color-primary;
	}
  50% {
    background-color: $color-white;

  }
  100% { 
    background-color: $color-primary;
	}
}