/**
 * -----------------------------------------------------------------------------
 * File: views/intro
 * -----------------------------------------------------------------------------
 */

section.intro {
  margin-bottom: $space-5x;
  
  @include bp-sm() {
    margin-bottom: $space-10x;
  }

  h1, 
  h2, 
  p {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-transform: none;
  }

  h1 {
    @include font-size($fs-xl);
  }

  h2 {
    margin-bottom: $space-2x;

    @include bp-sm() {
      margin-bottom: $space-3x;
    }
  
    @include bp-lg() {
      margin-bottom: $space-4x;
    }
  }

}