/**
 * -----------------------------------------------------------------------------
 * File: views/intro
 * -----------------------------------------------------------------------------
 */

section.intro {
  
  h1 {
    margin-bottom: $space-3x;
  }

  h2 {
    margin-bottom: $space-2x;
  }

  p {
    text-align: center;
  }
}