/**
 * -----------------------------------------------------------------------------
 * File: views/intro
 * -----------------------------------------------------------------------------
 */

section.intro {
  margin: $space-5x 0 $space-10x 0;
  
  @include bp-sm() {
    margin: $space-10x 0 80px 0;
  }

  h1, 
  h2, 
  p {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-transform: none;
  }

  h1 {
    @include font-size($fs-2xl);
    color: $color-black;

    em {
      color: $color-secondary;
      white-space: nowrap;
    }
  }

  h2 {
    margin-bottom: $space-2x;

    @include bp-sm() {
      margin-bottom: $space-3x;
    }
  
    @include bp-lg() {
      margin-bottom: $space-4x;
    }
  }
  
  img {
    width: 100%;
    height: auto;
  }

  a {
    @extend %anchor;
  }

}