/**
 * -----------------------------------------------------------------------------
 * File: views/intro
 * -----------------------------------------------------------------------------
 */

section.intro {
  margin: $space-5x 0 $space-10x 0;
  
  @include bp-sm() {
    margin: $space-10x 0 80px 0;
  }

  .intro-grid {
    display: flex;
    flex-direction: column;
    gap: $space-4x;

    @include bp-md() {
      flex-direction: row;
      align-items: center;
      gap: $space-6x;
    }
  }

  .intro-text {
    @include bp-md() {
      flex: 1 1 0;
    }
  }

  .intro-image {
    @include bp-md() {
      flex: 0 0 40%;
      max-width: 40%;
    }
  }

  h1,
  h2,
  p {
    text-transform: none;
  }

  h1 {
    @include font-size($fs-2xl);
    color: $color-black;

    em {
      color: $color-secondary;
      white-space: nowrap;
    }
  }

  h2 {
    margin-bottom: $space-2x;

    @include bp-sm() {
      margin-bottom: $space-3x;
    }
  
    @include bp-lg() {
      margin-bottom: $space-4x;
    }
  }

  figure {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  img {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    height: auto;

    @include bp-md() {
      max-width: 100%;
    }
  }

  a {
    @extend %anchor;
  }

}