/**
 * -----------------------------------------------------------------------------
 * File: layout/menu/site
 * -----------------------------------------------------------------------------
 */

nav.site {
  background-color: $color-dark;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  overflow-y: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  position: fixed;
  top: 0;
  width: 100%;
  transition: opacity .2s ease-in;
  z-index: -1;

  .site-menu-wrapper {
    margin: auto;
  }

  &.is-visible {
    opacity: 1;
    z-index: 601;
  }

  a {
    color: $color-primary;
    @include font-size($fs-xl);
    @include font-londrina-black();
    padding: $space-1x;
    text-align: center;
    text-transform: uppercase;
    transition: color .1s ease-in;

    &:hover {
      color: $color-white;
    }
  }


}