/**→
 * -----------------------------------------------------------------------------
 * File: layout/article
 * -----------------------------------------------------------------------------
 */

article {
  padding: $space-3x;

  &:first-of-type {
    margin-top: 0 !important;
  }

  @include bp-sm() {
    padding: $space-4x;
  }

  @include bp-md() {
    margin-bottom: $space-4x;
    padding: $space-6x $space-4x;
  }

  &.overlap {
    margin-top: 10px;
    > div {
      margin-top: -40px;
    }

    @include bp-md() {
      margin-top: 20px;
      > div {
        margin-top: -60px;
      }
    }
  }

  h1 {
    margin-bottom: $space-2x;
  }

  h1 + h2 {
    margin-top: -10px;

    @include bp-md() {
      margin-top: -15px;
    }
  }
}
