/**→
 * -----------------------------------------------------------------------------
 * File: layout/article
 * -----------------------------------------------------------------------------
 */

article {
  padding: $space-3x;

  @include bp-sm() {
    padding: $space-4x;
  }

  @include bp-md() {
    padding: $space-6x $space-4x;
  }

  h1 {
    margin-bottom: $space-2x;
  }

  h1 + h2 {
    margin-top: -10px;
    @include bp-md() {
      margin-top: -15px;
    }
  }
}
