/**
 * -----------------------------------------------------------------------------
 * File: layout/main
 * -----------------------------------------------------------------------------
 */

main.site {
  > div {
    @extend %inner-block;
    padding-bottom: $space-5x;
    position: relative;

    a {
      color: $color-dark;
      display: inline-block;
      @include font-bold();
      padding-left: 1px;
      padding-right: 1px;
      transition: background-color .1s ease-in;
      &:hover {
        background-color: $color-primary;
      }
    }
  }
}

main.site-auth {
  min-height: 100vh;

  > div {
    align-items: center;
    display: flex;
    justify-content: center;
    height: inherit;
    min-height: inherit;
    width: 100%;
  }
}