/**
 * -----------------------------------------------------------------------------
 * File: layout/masonry
 * -----------------------------------------------------------------------------
 *
 */
 
.masonry {
  display: grid;
  column-gap: 30px;

  @include bp-md() {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
  }

  .masonry-col {
    width: 100%;
  }

  .masonry-item {
    margin-bottom: 30px;
    width: 100%;

    @include bp-md() {
      margin-bottom: 40px;
    }

    &.overlap {
      margin-top: 40px;
      scroll-margin-top: 40px;

      > div {
        margin-top: -40px;
      }

      &:first-of-type {
        margin-top: 30px;
      }

      @include bp-md() {
        margin-top: 60px;
        scroll-margin-top: 40px;

        > div {
          margin-top: -60px;
        }

        &:first-of-type {
          margin-top: 0 !important;
        }
      }
    }
  }
}