/**
 * -----------------------------------------------------------------------------
 * File: layout/section
 * -----------------------------------------------------------------------------
 */

.theme-dark {
  background-color: $color-primary;
  color: $color-white;

  h1 {
    color: $color-white;
  }

  h2 {
    color: $color-white;
  }

  .btn-primary {
    background-color: $color-white;

    &:hover {
      background-color: $color-dark;
      color: $color-white;
    }
  }
}

.theme-medium {
  background-color: $color-primary;
  
  h1 {
    color: $color-dark;
  }

  h2 {
    color: $color-dark;
  }

  a:not(.btn-primary):not(.btn-collapsible):not(.btn-band):not(.icon-band) {
    @extend %anchor-medium;
  }
}

.theme-light {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  
  h1 {
    color: $color-dark;
  }

  a:not(.btn-primary):not(.btn-collapsible):not(.btn-band):not(.icon-band) {
    @extend %anchor;
  }

}
