/**
 * -----------------------------------------------------------------------------
 * File: layout/section
 * -----------------------------------------------------------------------------
 */

.theme-dark {
  background-color: $color-dark;
  color: $color-white;

  h1 {
    color: $color-primary;
  }

  h2 {
    color: $color-white;
  }
}

.theme-medium {
  background-color: $color-primary;
  
  h1 {
    color: $color-dark;
  }

  h2 {
    color: $color-dark;
  }

  a {
    @extend %anchor-medium;
  }
}

.theme-light {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  
  h1 {
    color: $color-dark;
  }

  a {
    @extend %anchor;
  }

}
