/**
 * -----------------------------------------------------------------------------
 * File: component/headings/h2
 * -----------------------------------------------------------------------------
 */

h2 {
  color: $color-dark;
  @include font-londrina-regular();
  @include font-size($fs-xl);
  margin-bottom: $space-3x;
  text-align: center;

  @include bp-sm() {
    margin-bottom: $space-4x;
  }

  @include bp-lg() {
    margin-bottom: $space-5x;
  }
}
