/**
 * -----------------------------------------------------------------------------
 * File: form/layout
 * -----------------------------------------------------------------------------
 */

.form-control {
  margin-bottom: $space-3x;

  &.is-last {
    margin-bottom: 0 !important;
  }

  @include bp-sm(){ 
    margin-bottom: $space-4x
  }

  @include bp-lg(){ 
    margin-bottom: $space-5x
  }
}

.form-required {
  @include font-size($fs-xs);
}