/**
 * -----------------------------------------------------------------------------
 * File: components/typo/helpers
 * -----------------------------------------------------------------------------
 *
 * Helper classes for typography
 *
 */

.uc { text-transform: uppercase;}
.lc { text-transform: lowercase; }
.cap { text-transform: capitalize; }
.align-center { text-align: center; }
.align-justify { text-align: justify; }
.align-left { text-align: left; }
.align-right { text-align: right; }
.nobr { white-space: nowrap; }

.text-dark {
  color: $color-dark !important;
}

.text-medium {
  color: $color-primary !important;
}

.text-light {
  color: $color-white !important;
}

.text-londrina-black {
  @include font-londrina-black();
}

.text-xl {
  @include font-size($fs-xl);
}

/**
 * Typography - Generic elements
 * -----------------------------------------------------------------------------
 */

strong, b {
	@include font-bold();
}

p {
	margin-bottom: $space-4x;
  text-align: center;

  @include bp-lg() {
    margin-bottom: $space-6x;
  }

	&:last-child {
		margin-bottom: 0 !important;
	}
}

i {
	@include font-regular();
}
