/**
 * -----------------------------------------------------------------------------
 * File: typo/sizes
 * -----------------------------------------------------------------------------
 *
 */

$fs-xxs: (
  null: (14px,1.4),
  sm:   (14px,1.4),
  md:   (16px,1.4),
  lg:   (16px,1.4),
);


$fs-xs: (
  null: (14px,1.4),
  sm:   (14px,1.4),
  md:   (16px,1.4),
  lg:   (18px,1.4),
);

$fs-sm: (
  null: (18px,1.25),
  sm:   (20px,1.25),
  md:   (24px,1.25),
  lg:   (28px,1.25),
);

$fs-md: (
  null: (20px,1.4),
  sm:   (24px,1.4),
  md:   (36px,1.4),
  lg:   (42px,1.4),
);

$fs-xl: (
  null: (36px,.95),
  sm:   (48px,.95),
  md:   (56px,.95),
  lg:   (62px,.95),
);

$fs-2xl: (
  null: (44px,1),
  sm:   (56px,1),
  md:   (64px,1),
  lg:   (84px,1),
);

$fs-xxl: (
  null: (70px,1),
  sm:   (100px,1),
  md:   (90px,1),
  lg:   (100px,1),
);


// $fs-md: (
//   null: (16px,1.23),
//   sm:   (16px,1.23),
//   md:   (16px,1.23),
//   lg:   (16px,1.23),
// );

$fs-lg: (
  null: (24px,1.15),
  sm:   (24px,1.15),
  md:   (24px,1.15),
  lg:   (24px,1.15),
);




// Auth / Buttons
$fs-btn: (
  null: (14px,1.23),
  sm:   (14px,1.23),
  md:   (15px,1.23),
  lg:   (15px,1.23),
);