/**
 * -----------------------------------------------------------------------------
 * File: typo/sizes
 * -----------------------------------------------------------------------------
 *
 */

$fs-sm: (
  null: (16px,1.4),
  sm:   (20px,1.4),
  md:   (24px,1.4),
  lg:   (28px,1.4),
);

$fs-md: (
  null: (20px,1.4),
  sm:   (24px,1.4),
  md:   (36px,1.4),
  lg:   (48px,1.4),
);


$fs-xl: (
  null: (36px,.95),
  sm:   (48px,.95),
  md:   (60px,.95),
  lg:   (72px,.95),
);

$fs-xxl: (
  null: (80px,1),
  sm:   (100px,1),
  md:   (120px,1),
  lg:   (120px,1),
);


// $fs-md: (
//   null: (16px,1.23),
//   sm:   (16px,1.23),
//   md:   (16px,1.23),
//   lg:   (16px,1.23),
// );

$fs-lg: (
  null: (24px,1.15),
  sm:   (24px,1.15),
  md:   (24px,1.15),
  lg:   (24px,1.15),
);




// Auth / Buttons
$fs-btn: (
  null: (14px,1.23),
  sm:   (14px,1.23),
  md:   (15px,1.23),
  lg:   (15px,1.23),
);