/**
 * -----------------------------------------------------------------------------
 * File: components/typo/webfonts
 * -----------------------------------------------------------------------------
 *
 * Typography - Webfonts
 *
 */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;900&display=swap');

@font-face {
  font-family: 'LondrinaThin';
  src: url('fonts/LondrinaSolid-Thin.eot');
  src: url('fonts/LondrinaSolid-Thin.eot?#iefix') format('embedded-opentype'),url('fonts/LondrinaSolid-Thin.woff2') format('woff2'),url('fonts/LondrinaSolid-Thin.woff') format('woff'),url('fonts/LondrinaSolid-Thin.ttf') format('truetype'),url('fonts/LondrinaSolid-Thin.svg#LondrinaSolid-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LondrinaRegular';
  src: url('fonts/LondrinaSolid-Regular.eot');
  src: url('fonts/LondrinaSolid-Regular.eot?#iefix') format('embedded-opentype'),url('fonts/LondrinaSolid-Regular.woff2') format('woff2'),url('fonts/LondrinaSolid-Regular.woff') format('woff'),url('fonts/LondrinaSolid-Regular.ttf') format('truetype'),url('fonts/LondrinaSolid-Regular.svg#LondrinaSolid-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LondrinaBlack';
  src: url('fonts/LondrinaSolid-Black.eot');
  src: url('fonts/LondrinaSolid-Black.eot?#iefix') format('embedded-opentype'),url('fonts/LondrinaSolid-Black.woff2') format('woff2'),url('fonts/LondrinaSolid-Black.woff') format('woff'),url('fonts/LondrinaSolid-Black.ttf') format('truetype'),url('fonts/LondrinaSolid-Black.svg#LondrinaSolid-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

