/**
 * -----------------------------------------------------------------------------
 * File: component/anchors
 * -----------------------------------------------------------------------------
 *
 */

%anchor,
.anchor {
  color: $color-dark;
  display: inline-block;
  @include font-bold();
  padding-left: 1px;
  padding-right: 1px;
  transition: background-color .1s ease-in;

  &:hover {
    background-color: $color-primary;
  }

}

%anchor-medium,
.anchor-medium {
  @extend %anchor;
  background-color: $color-dark;
  color: $color-white !important;

  &:hover {
    background-color: transparent;
  }
}
