/**
 * -----------------------------------------------------------------------------
 * File: component/blocks
 * -----------------------------------------------------------------------------
 *
 */

%inner-block,
.inner-block {
  margin-left: auto;
  margin-right: auto;
  padding-left: $space-3x;
  padding-right: $space-3x;

  @include bp-sm() {
    padding-left: $space-10x;
    padding-right: $space-10x;
    max-width: 900px;
  }

  @include bp-md() {
    max-width: $site-max-width;
  }
}

%inner-block-small,
.inner-block-small {
  margin-left: auto;
  margin-right: auto;
  padding-left: $space-3x;
  padding-right: $space-3x;

  @include bp-sm() {
    padding-left: $space-10x;
    padding-right: $space-10x;
    max-width: 900px;
  }

  @include bp-md() {
    max-width: 1200px;
  }
}


