/**
 * -----------------------------------------------------------------------------
 * File: component/blocks
 * -----------------------------------------------------------------------------
 *
 */

%inner-block,
.inner-block {
  margin-left: auto;
  margin-right: auto;
  padding-left: $space-5x;
  padding-right: $space-5x;

  @include bp-sm() {
    //background-color: rebeccapurple;
    padding-left: $space-10x;
    padding-right: $space-10x;
    max-width: 900px;
  }

  @include bp-md() {
    background-color: burlywood;
    max-width: $site-max-width;

  }

  // @include bp-lg() {
  //   background-color: brown;
  // }
}


