/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/secondary
 * -----------------------------------------------------------------------------
 */

.btn-secondary {
  @extend %btn-primary;
  background-color: darken($color-grey, 10);
  color: $color-white !important;

  span {
    color: $color-white !important;
  }

  &:hover {
		background-color: $color-grey;
	}
}